@model CustomerAndAppointmentProject.Models.AppointmentEntity

@{
    bool admin = false;
    if (ViewData["admin"] != null)
    {
        admin = (bool)ViewData["admin"];
    }
    ViewData["Title"] = "EditAppointment";
}

<h1>Edit Appointment</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (admin)
            {
                <div class="form-group">
                    <label asp-for="Fullname" class="control-label"></label>
                    <input asp-for="Fullname" class="form-control" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Fullname" class="control-label"></label>
                    <input asp-for="Fullname" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <br />
            <form asp-action="EditAppointment">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                @if (admin)
                {
                    <!--<a class="btn btn-primary btn-sm" asp-action="Appointments">Back to List</a>-->
                    @Html.ActionLink("Back to List", "Appointments",
                    new {},
                new { @class = "btn btn-primary btn-sm" })
                }
                else
                {
                    <!--<a class="btn btn-primary btn-sm" asp-action="PatientAppointments">Back to List</a>
                    -->
                    @Html.ActionLink("Back to List", "PatientAppointments",
                new { email=Model.Email },
                new { @class = "btn btn-primary btn-sm" })
                }
            </form>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
