@model CustomerAndAppointmentProject.Models.UserEntity
@using CustomerAndAppointmentProject.StaticVariables
@{
    ViewData["Title"] = "Edit";
    bool admin = false;
    if(ViewData["admin"] != null)
    {
        admin = (bool)ViewData["admin"];
    }
}

<h1>Edit User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            @if (admin)
            {
                <div class="form-group">
                    <label asp-for="TypeOfUser" class="control-label"></label>
                <select type="text" asp-for="TypeOfUser" class="form-control" name="TypeOfUser">
                <option value="patient">Patient</option>
                <option value="admin">Admin</option>
            </select>
                <span asp-validation-for="TypeOfUser" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="TypeOfUser" class="control-label"></label>
                    <input type="text" readonly="readonly" asp-for="TypeOfUser" class="form-control" name="TypeOfUser" />
                    <span asp-validation-for="TypeOfUser" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input type="text" asp-for="Created" value="@Model.Created.ToString()" readonly="readonly" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            @if (admin)
            {
                <!--<a class="btn btn-primary btn-sm" asp-action="Appointments">Back to List</a>-->
                @Html.ActionLink("Back to List", "Users",
            new { @class = "btn btn-primary btn-sm" })
            }
            else
            {
                <!--<a class="btn btn-primary btn-sm" asp-action="PatientAppointments">Back to List</a>
                -->
                @Html.ActionLink("Back to Profile", "User",
            new { email=Model.Email },
            new { @class = "btn btn-primary btn-sm" })
            }
            <!--<div class="form-group">
                <input type="submit" value="Save" class="btn btn-success " />
                <a class="btn btn-primary" asp-action="Users">Back to List</a>
            </div>-->
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
