@using System.Data

@{
    ViewData["Title"] = "Welcome";
    
}

<h1>@ViewData["Title"]</h1>
<br />


<img class="block" src="~/doctors.jpg" alt="" width="1250" height="600" />

<br />
<br />
<br />


<p>Welcome to Doctors of America where we server Americans that actually pay taxes or don't use the governement for free healthcare. We are 
    goal focused to make your experience the best ever since you pay crazy amount of money for insurance just to come see us.
</p>