@using System.Data

@{
    ViewData["Title"] = "Welcome";
    
}

<h1>@ViewData["Title"]</h1>
<br />


<img class="block" src="~/Newdoctors.jpg" alt=""/>

<br />
<br />
<br />


<p>Welcome to Doctors of America where our first priority is our is our patients and our communities. We are honored and proud to serve every person like they are our only patient whether it is a scraped 
    knee or serious surgery. Our mission is to make everyone that comes in feel comfortable and well attended to while they are in our care. We are glad to treat you and even happier when you leave 
    healthier then when you came in. 
</p>